[submodule "hw01-warmup"]
	path = hw01-warmup
	url = git@github.com:cannor147/itmo-js-hw01-warmup.git
[submodule "hw02-phonebook"]
	path = hw02-phonebook
	url = git@github.com:cannor147/itmo-js-hw02-phonebook.git
[submodule "hw03-robbery"]
	path = hw03-robbery
	url = git@github.com:cannor147/itmo-js-hw03-robbery.git
[submodule "hw04-pub-sub"]
	path = hw04-pub-sub
	url = git@github.com:cannor147/itmo-js-hw04-pub-sub.git
[submodule "hw05-marriage"]
	path = hw05-marriage
	url = git@github.com:cannor147/itmo-js-hw05-marriage.git
[submodule "hw06-weather"]
	path = hw06-weather
	url = git@github.com:cannor147/itmo-js-hw06-weather.git
[submodule "exam"]
	path = exam
	url = git@github.com:cannor147/itmo-js-exam.git
